{% load static %}
{% load blog_tags %}
<!DOCTYPE html>
<html>
<head>
  <h1>
    <a href="{% url 'post_list' %}">My Blog</a>
    <button class="button"><a href="{% url 'search' %}">Search a post</a></button>
  </h1>
  <title>{% block title %} {% endblock title %}</title>
  <link href="{% static 'blog/css/blog.css' %}" rel="stylesheet">
</head>
<body>
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
  <div id="sidebar">
    <h2>My blog</h2>

    <p>It already has {% count_tags %} posts!</p>
    <h4>The last posts:</h4>
    {% display_the_latest_posts %}

    <h4>Most commented posts:</h4>
    {% most_commented_posts as mc_posts %}
    <ul>
      {% for post in mc_posts %}
        <li><p><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></p></li>
      {% endfor %}
    </ul>
    <p><a href="{% url 'post_feed' %}">Subcribe to my RSS feed</a></p>
  </div>
</body>
</html>

